<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form-Submit-Successfully</title>
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">

</head>
<body> <div class="container aqsah" >
    <h1 class="text-center">Your Form have been submit successfully!!!! </h1>
</div>




<script src="{% static 'myapp/js/jquery.js'%}"></script>
<script src="{% static 'myapp/js/popper.js'%}"></script>
<script src="{% static 'myapp/js/bootstrap.js'%}"></script>
<script src="{% static 'myapp/js/all.min.js'%}"></script>
</body>
</html>