<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <link rel="stylesheet" href="{% static 'myapp/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'myapp/css/core.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    
    <div class="container-flud aqsa2">
    <h1 class="text-center">Your Form Update Successfully!!</h1>
</div>

    <script src="{% static 'myapp/js/jquery.js'%}"></script>
    <script src="{% static 'myapp/js/popper.js'%}"></script>
    <script src="{% static 'myapp/js/bootstrap.js'%}"></script>
    <script src="{% static 'myapp/js/all.min.js'%}"></script>
</body>
</html>