.aqsa{
    height: 500;
    background-color:cornflowerblue;
}

.abc{
    height: 500;
    background-color: rgb(168, 124, 230);
}

.vpn{
    height: 500;
    background-color: rgb(165, 139, 205);
}
.abcde{
    height: 1000;
    background-color: bisque;
}


.aqsah{
    height: 1000;
    background-color: rgb(165, 217, 165);
}

.aqsa2{
    height: 1000;
    background-color: rgb(150, 204, 150);
   
}