
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Required</title>
    <link rel="stylesheet" href="{% static 'myapp/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'myapp/css/core.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    
</head>
<body>
    <div class="container-flud vpn">
        <div class="row">
        <div class="col-sm-12"><h1 class="text-center"> Login For Authentication</h1></div>
        <div class="col-sm-12">
    <form action="" method="Post" class="text-center">
        {% csrf_token %}
        {{form.as_p}}
        <input  class="btn btn-primary"  type="submit" value="login">
        <a class="btn btn-primary active"href="{% url 'password_reset' %}">Forget Password</a>  
        
    </form>
</div>
</div>
</div>

    <script src="{% static 'myapp/js/jquery.js'%}"></script>
    <script src="{% static 'myapp/js/popper.js'%}"></script>
    <script src="{% static 'myapp/js/bootstrap.js'%}"></script>
    <script src="{% static 'myapp/js/all.min.js'%}"></script>    
</body>
</html>
